* {
	margin: 0;
	padding: 0;
	border-width: 0;
	border-color: currentColor;
	outline: 0 none;
	border-style: solid;
	border-color: inherit;
	font-size: 1em;
	line-height: 1.3em;
	vertical-align: baseline;
	font-family: inherit;
	text-decoration: none;
	font-style: normal;
	text-overflow: ellipsis;
	color: inherit;
	box-sizing: border-box;
	font-family: "Source Sans Pro", Arial, sans;
}

body {
	margin: 0;
}
